{% extends "layout.html" %}

{% block content %}
<div class="circle">
    <div class="content">
        <div class="header-orange"> ยินดีต้อนรับสู่<br>Travelor</div>
        <div class="line-long">
            <hr>
        </div>
        <div class="text-paragrahp">
            <p>
                "เราจะพาคุณไปเลือกที่ท่องเที่ยวที่ <br> เหมาะกับความต้องการของคุณ" <br>
                โดยผลลัพธ์จะแสดง 1 จาก 6 ภูมิภาคในประเทศไทยที่เหมาะกับข้อมูลที่ป้อนเข้ามา
                และค่าเปอร์เซ็นต์ความมั่นใจในคำตอบ
            </p>
        </div>
        <a href="question" class="link-question">
            ทำแบบสอบถาม
            <span class="iconify" data-icon="akar-icons:arrow-right"></span>
        </a>
        <div class="line-short">
            <hr>
        </div>
        <div class="text-footer">
            จัดทำโดย <br> กลุ่ม 1
        </div>
    </div>
</div>

<style>
    body {
        background: #F2E4D5;
    }
</style>
{% endblock %}