<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelor</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css')}}">
</head>

<body>
    <header>
        <a href="/" class="home">
            <div>Travelor</div>
        </a>
    </header>
    <main>
        <div class="containers">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>

<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

</html>