{% extends "layout.html" %}

{% block content %}
<div class="content">
    <div class="">
        <div class="load-container">
            <div class="loder"></div>
        </div>
    </div>

    <div class="text-orange">จิบกาแฟรอประมวลผลสักครู่</div>
</div>
<style>
    body {
        background: #FFC1C1;
    }
</style>
<script>
    window.location.replace('/process');
</script>
{% endblock %}