{% extends "layout.html" %}
{% block content %}
<div class="content">
    {% if question %}
        <div class="header-orange">
            ข้อที่ {{question['number']}}
        </div>
        <div class="text-question">{{question['question']}}</div>
        <br>
        <form action="./question" method="post"  class="choice-container">
            <input type="text" name="question-number" value="{{question['number']}}" hidden>
            <input type="text" name="question-keyword" value="{{question['keyword']}}" hidden>
            {% for cid in question['choice'] %}
            <button class="choice-card" type="submit" name="answer-selected" value="{{question['choice'][cid]['keyword']}}">
                <div class="choice-number">{{ cid }}</div>
                <div class="text-descript">{{ question['choice'][cid]['text'] }}</div>
                <img src="{{question['choice'][cid]['img']}}" alt="{{question['choice'][cid]['text']}}" class="card-overlap">
            </button>
            {% endfor %}
        </form>
    {% endif %}
</div>

<style>
    body {
        background: #F2E4D5;
    }
</style>
{% endblock %}