{% extends "layout.html" %}

{% block content %}
<div class="content">
    <div class="header-orange">ภาคที่เหมาะกับคุณ</div>
    <div class="text-answer">🎉 {{zone}} 🎉</div>
    <div class="text-accurancy">{{percent}}</div>
    <div class="reccomend-container">
        
        {% for loc  in location %}
            <div class="reccomend-card">
                <div class="text-convince">{{loc["province"]}}</div>
                <img src="{{loc['img_url']}}" alt="" class="image-overlap">
                <div class="text-descrip">{{loc["place"]}} <br>
                    {{loc["description"]}}</div>
            </div>
           
        {% endfor %}
        
    </div>
</div>
<style>
    body {
        background: #FFC1C1;
    }
</style>
{% endblock %}