@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap');

* {
    box-sizing: border-box;
    
}

header {
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(to bottom, rgba(185, 89, 0, 0.445), rgba(0,0,0, 0) 50%  );
    min-width: 100vh;
}

body {
    font-family: 'Noto Sans Thai', sans-serif;
    text-align: center;
    max-width: 100vw;
    min-height: 90vh;
    margin: auto;
    /* overflow: none; */
}

button {
    font-family: 'Noto Sans Thai', sans-serif;
    text-align: center;
}

a {
    color: #000;
}

.containers {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    margin-top: 70px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #FFD4D4;
    overflow: hidden;
}

.content {
    text-align: center;
    max-width: 70%;
}

.header-orange {
    font-size: 32px;
    font-weight: 600;
    color: #ED8D32;
}

.text-orange {
    font-size: 20px;
    font-weight: 600;
    color: #FFF8F0;
}

.line-long {
    width: 80%;
    margin: auto;
}

.line-long hr {
    border-top: 3px solid #ED8D32;
}

.text-paragrahp {
    margin-top: 20px;
    margin-bottom: 40px;
}

.swipe-text {
    background-color: #F2E4D5;
    border-radius: 50px;
    border-width: 1px;
    padding: 5px;
    margin-bottom: 30px;
    font-weight: 500;
}

.line-short {
    width: 100px;
    margin: 30px auto 0 auto;
}

.line-short hr {
    border-top: 1px solid #000;
}

.choice-container {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.choice-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    width: 250px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-image: url('/static/images/blue-card.png');
    cursor: pointer;
}


.card-overlap {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    pointer-events: none;
    /* margin-top: 100px; */
}

.choice-number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 30px;
    height: 30px;
    color: #000;
    font-size: 16px;
    border-radius: 50%;
    background: #F2E4D5;
}

.home {
    text-decoration: none;
    padding-top: 10px;
    font-weight: 100;
    color: #964e0a;
}

.home :hover {
    color: #5e3d1f;
}

.text-descript {
    color: #FFD4D4;
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}

.text-question {
    font-weight: 200;
    font-size: 26px;
    
}

.text-answer {
    font-size: 20px;
    font-weight: 700;
    color: #FFE4F0;
}

.text-accurancy {
    font-size: 20px;
}

.reccomend-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.reccomend-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 350px;
    background: #FFF8F0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    margin: auto;
    font-size: 12px;
}

.text-convince {
    margin: 10px 0 10px 0;
    color: #000;
}

.image-overlap {
    object-fit: cover;
    width: 250px;
    height: 200px;
    margin: 10px 0 10px 0;
}


.load-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    margin-bottom: 20px;
}

.loder {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ED8D32;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }